* {
    margin : 0 ;
    padding : 0 ;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

html {
    background-color : #000 ;
}


body {
    position: absolute ;
    top: 0 ;
    bottom: 0 ;
    right: 0 ;
    left: 0 ;
    /* display: flex ; */
    /* flex-direction: row */
}

#canvasdiv {
    position: absolute ;
    top: 0 ;
    bottom: 0 ;
    left: 0 ;
    /* flex: 1 1 available ; */
    /* align-self: stretch ; */

    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center ; */
}

#canvas {
    margin:auto;
    height: fit-content ;
    max-height: 100% ;
    width: fit-content ;
    text-align: center ;
}

#sidebar {
    position: absolute ;
    /* flex: 2 1 auto ; */
    /* align-self: stretch ; */

    top: 0 ;
    bottom: 0 ;
    right: 0 ;
    min-width: 250px ;
    display: flex;
    flex-direction: column
}

#selectlsys {
	  font-family: mono;
    border: none;
}

textarea#lsysarea {
	  font-family: mono;
    resize: none;
    width: auto ;
    overflow: auto;
    flex: 1 1 auto ;
    border: none;
    background-color: #1D0800;
}

.generation {
    display: flex;
    flex-direction: row
    align-self: stretch ;
    height: 25px;
}

#genslider {
    flex: 1 1 auto ;
    height: 25px;

    cursor: pointer;

    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;
}

#geninput {
    flex: 0 0 40px ;
    margin-left: 5px ;

    border: none;

    text-align: center;
    text-decoration: none;
	  font-family: mono;
    border-radius: 4px;
    border: solid 1px grey;
}

#sidebar button {
    flex: 0 1 40px ;
    cursor: pointer;
    background-color: #1D0800;
    border: none;
}